.header-l {
  position: fixed;
  height: 40vh;
  width: 30px;
  font-size: var(--fz-p);
  bottom: 15vh;
}
.left-ul {
  left: 4vw;
}
.header-l ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}
.header-l li {
  list-style: none;
  transition: 500ms;
}
.header-l a {
  color: var(--slate);
  transition: 500ms;
}
.header-l a:hover {
  color: var(--green);
}
.header-l li:hover {
  transform: translateY(-5px);
}
.header-l .line-l {
  height: 15vh;
  width: 2px;
  background-color: var(--slate);
  transform: translate(-50%, 0%);
  left: 50%;
  top: 100%;
  position: absolute;
}
