.work {
  min-height: 100vh;
  position: relative;
}
.work .line {
  width: 50%;
  left: 65%;
}
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10vh 0;
}
.card-ss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vh 2vw;
}
.left-ss {
  flex-direction: row-reverse;
}
.left-ss .card-main {
  align-items: flex-start;
  text-align: left;
}
.left-ss p {
  text-align: left;
}
.img-ss {
  background-position: center;
  background-size: contain;

  background-repeat: no-repeat;
  width: 40vw;
  transition: 500ms;
}

// .pixo {
//   background-image: url(./../images/ss/pixo.png);
// }
// .cred {
//   background-image: url(./../images/ss/cred.png);
// }
// .newb {
//   background-image: url(./../images/ss/newB.png);
// }
// .mas {
//   background-image: url(./../images/ss/mascot.png);
// }
// .spx {
//   background-image: url(./../images/ss/spacex.png);
// }
// .time {
//   background-image: url(./../images/ss/time.png);
// }
.card-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 40vw;
  min-height: 50vh;
  text-align: left;

  line-height: 1.2;
}
.card-main .green-line {
  font-size: 1rem;
}
.card-main h2 {
  font-size: 1.9rem;
  color: var(--lightest-slate);
}
.box-ss {
  background-color: var(--light-navy);
  color: var(--light-slate);
  font-size: 0.1rem;
  z-index: 2;
  width: 110%;
}
.box-ss p {
  font-size: var(--fz-s);
  padding: 4vh 3vh;
}
.code ul {
  padding: 1vh 2vw;
  width: 110%;
  display: flex;
  justify-content: space-between;
  transform: translateX(-10px);
  color: var(--white);
}
.code a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  transition: 500ms;
}
.code a:hover {
  color: var(--green);
  box-shadow: 3px 3px 50px 1px var(--green);
}
.work .btn {
  text-align: center;
  width: 70%;
  margin: auto;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.project img {
  max-width: 100%;
  height: auto;
}

/* Responsive layout for mobile screens */
@media only screen and (max-width: 600px) {
  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 480px) {
}
@media only screen and (max-width: 768px) {
  .card-main {
    width: 80vw; /* Adjust as needed */
    align-items: center; /* Center content on smaller screens */
    text-align: center; /* Center text on smaller screens */
  }

  .box-ss {
    width: 90%;
    padding: 2vh 2vw; /* Adjust as needed */
  }

  .img-ss {
    width: 80vw; /* Adjust as needed */
  }

  .code ul {
    padding: 2vh 2vw; /* Adjust as needed */
  }

  .work .btn {
    width: 90%;
  }

  .work .line {
    left: 50%;
    transform: translateX(-50%);
  }

  .gallery {
    margin: 5vh 0; /* Adjust as needed */
  }

  .card-ss {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vh 2vw;
  }

  .left-ss {
    flex-direction: column-reverse;
  }

  .left-ss .card-main {
    align-items: center;
    text-align: center;
  }
}
