.work {
  margin: 3vh var(--padding-main);
  min-height: 100vh;
  position: relative;
}
.work .line {
  width: 50%;
  left: 65%;
}
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10vh 0;
}
.card-ss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vh 2vw;
}
.left-ss {
  flex-direction: row-reverse;
}
.left-ss .card-main {
  align-items: flex-start;
  text-align: left;
}
.left-ss p {
  text-align: left;
}
.img-ss {
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
  background-color: #64ffdb81;
  background-blend-mode: darken;
  width: 40vw;
  transition: 500ms;
  opacity: 0.7;
}
.img-ss:hover {
  background-color: #64ffdb02;
  opacity: 1;
}
// .pixo {
//   background-image: url(./../images/ss/pixo.png);
// }
// .cred {
//   background-image: url(./../images/ss/cred.png);
// }
// .newb {
//   background-image: url(./../images/ss/newB.png);
// }
// .mas {
//   background-image: url(./../images/ss/mascot.png);
// }
// .spx {
//   background-image: url(./../images/ss/spacex.png);
// }
// .time {
//   background-image: url(./../images/ss/time.png);
// }
.card-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 40vw;
  min-height: 50vh;
  text-align: left;

  line-height: 1.2;
}
.card-main .green-line {
  font-size: 1rem;
}
.card-main h2 {
  font-size: 1.9rem;
  color: var(--lightest-slate);
}
.box-ss {
  background-color: var(--light-navy);
  color: var(--light-slate);
  font-size: 0.1rem;
  z-index: 2;
  width: 110%;
}
.box-ss p {
  font-size: var(--fz-s);
  padding: 4vh 3vh;
}
.code ul {
  padding: 1vh 2vw;
  width: 110%;
  display: flex;
  justify-content: space-between;
  transform: translateX(-10px);
  color: var(--white);
}
.code a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  transition: 500ms;
}
.code a:hover {
  color: var(--green);
  box-shadow: 3px 3px 50px 1px var(--green);
}
.work .btn {
  text-align: center;
  width: 70%;
  margin: auto;
}
