.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4vh;
}
.footer p {
  font-size: 1rem;
  text-align: center;
  pointer-events: none;
  font-family: var(--font-mono);
}
