@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Bandeins Strange Variable Regular";
  src: url("./assets/fonts/BandeinsStrange.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-display: swap;
}
:root {
  --dark--background: rgb(3 7 18);
  --dark-orange: #f66019;
  --light-orange: #fb9b44;
  --dark-grey: #5d5c5c;
  --light-grey: #7b8484;
  --white-theme: #e9e7e6;

  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;

  --purble-bottom: #7465fe;
  --blue-medium: #8ff0ff;
  --pink-mid: #fecfe8;
  --pink-out: #fca3f8;
  --font-sans: "Bandeins Strange Variable Regular", "Inter", sans-serif;
  --font-mono: "Space Mono", monospace;
  --padding-main: 10vw;
  --fz-xxl: 5rem;
  --fz-xl: 4.5rem;
  --fz-l: 2rem;
  --fz-p: 1.3rem;
  --fz-s: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark--background);
}
html {
  scroll-behavior: smooth;
}
/* animations */
.font-animation {
  font-variation-settings: "wght" 200, "wdth" 100;
  font-family: var(--font-sans);
  transition-delay: 100ms;
}
.font-animation:hover {
  font-variation-settings: "wght" 200, "wdth" 600;
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
  font-family: var(--font-sans);
  font-variation-settings: "wght" 400, "wdth" 100;
  transition: 500ms;
}

/* h1:hover {
  font-variation-settings: "wght" 100, "wdth" 600;
  transition-delay: 100ms;
} */

h1 {
  text-transform: capitalize;
  font-size: var(--fz-xxl);
  color: var(--lightest-slate);
  word-spacing: -2px;
  animation-name: wiggle;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  background: -webkit-linear-gradient(#8ff0ff, #fca3f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes wiggle {
  0% {
    font-variation-settings: "wght" 400, "wdth" 600;
  }
  100% {
    font-variation-settings: "wght" 400, "wdth" 100;
  }
}
h2 {
  text-transform: capitalize;
  font-size: var(--fz-xl);
  color: var(--slate);
}
h4 {
  font-size: var(--fz-p);
}
p {
  font-family: sans-serif;
  font-size: var(--fz-p);
  color: var(--slate);
}
.old-green-line {
  color: var(--green);
  font-family: var(--font-mono);
  font-weight: 100;
  word-spacing: 3px;
  font-size: 2rem;
}
.green-word {
  text-decoration: none;
  color: var(--blue-medium);
}

/* scroolbar */
::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-thumb {
  background-color: var(--slate);
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--lightest-slate);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: var(--navy);
  border-radius: 20px;
}
